# --- Web Framework & Server ---
fastapi
uvicorn
streamlit

# --- Data Processing ---
pandas
numpy
joblib

# --- Machine Learning Models ---
scikit-learn==1.7.2
xgboost
lightgbm

# --- Networking ---
requests

mlflow==2.11.0
google-cloud-storage
google-auth
